In [2]:
# Basic Libraries
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt # we only need pyplot
sb.set() # set the default Seaborn style for graphics

## Import Data

In [5]:
carData = pd.read_csv('SG_usedcar.csv')
carData.head()

,Brand,Type,Reg_date,Coe_left,Dep,Mileage,Road Tax,Dereg Value,COE,Engine Cap,Curb Weight,Manufactured,Transmission,OMV,ARF,Power,No. of Owners,Price,Unnamed: 18
0,BMW 5 Series 520i Highline,Luxury Sedan,28-May-13,1yr 11mths 21days COE left),15920,N.A,1210,38133,67304,1997,1610,2013,Auto,41566,45193,135,1,54000,NaN
1,Honda Vezel 1.5A X Honda Sensing,SUV,14-Oct-15,4yrs 4mths 7days COE left),10310,50000,682,31237,56001,1496,1190,2015,Auto,19775,9775,96,2,49800,NaN
2,MINI One 1.6A (New 10-yr COE),Hatchback,7-Oct-11,10yrs COE left),6280,110000,742,N.A,N.A,1598,1100,2011,Auto,18180,18180,72,3,62800,NaN
3,Hyundai Avante 1.6A (COE till 02/2029),Mid-Sized Sedan,12-Feb-09,7yrs 8mths 5days COE left),N.A,N.A,959,N.A,25727,1591,1264,2009,Auto,10763,10763,89,3,N.A,NaN
4,Suzuki Swift Sport 1.6M (COE till 12/2022),Hatchback,28-Dec-07,1yr 6mths 21days COE left),8210,203000,1030,6656,21349,1586,1060,2007,Manual,12154,13370,92,2,12800,NaN

In [7]:
carData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4411 entries, 0 to 4410
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Brand          4411 non-null   object
 1   Type           4411 non-null   object
 2   Reg_date       4411 non-null   object
 3   Coe_left       4389 non-null   object
 4   Dep            4411 non-null   object
 5   Mileage        4411 non-null   object
 6   Road Tax       4411 non-null   object
 7   Dereg Value    4411 non-null   object
 8   COE            4411 non-null   object
 9   Engine Cap     4411 non-null   object
 10  Curb Weight    4411 non-null   object
 11  Manufactured   4411 non-null   object
 12  Transmission   4411 non-null   object
 13  OMV            4411 non-null   object
 14  ARF            4411 non-null   object
 15  Power          4411 non-null   object
 16  No. of Owners  4411 non-null   object
 17  Price          4411 non-null   object
 18  Unnamed: 18    15 non-null     float64
dtypes: float64(1), object(18)
memory usage: 654.9+ KB